---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Currículum - l0k1" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Soy un profesional de la administración de sistemas con la firme determinación 
    de forjarme una carrera centrada en la ciberseguridad. Actualmente estoy estudiando 
    para obtener el certificado EJPTv2, que será el primer gran paso en mi carrera 
    de ciberseguridad.<br>
    Además, tengo conocimientos avanzados de scripting en lenguajes como Python y Bash,
    y conocimientos en otros lenguajes de programación como JavaScript, Java y PHP.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Técnico de Sistemas Linux"
      subtitle="Desde julio de 2023 en Kyndryl, Granada, España"
    >
      Técnico N1 especializado en servidores de aplicaciones WebSphere y TomCat.
    </TimeLineElement>
    <TimeLineElement
      title="Prácticas de Grado Superior"
      subtitle="Desde marzo de 2023 hasta junio de 2023 en Kyndryl, Granada, España"
    >
      Prácticas como técnico N1 especializado en servidores de aplicaciones WebSphere y TomCat.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Grado en ingeniería Informática"
      subtitle="Desde 2023 en la Universidad Española de Educación a Distancia (UNED), Granada, España"
    />
    <TimeLineElement
      title="Grado Superior en Administración de Sistemas Informáticos en Red"
      subtitle="Desde 2021 hasta 2023 en IES Zaidín Vergeles, Granada, España"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Actualmente estudiando para EJPTv2. 
      <!-- <a href="#" target="_blank"> Certification Name (with link)</a> -->
    </li>
    <!-- <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Idiomas</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <b>Español</b> - Nativo
    </li>
    <li>
      <b>Inglés</b> - Fluído
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Trabajo en equipo</li>
    <li>Pensamiento crítico</li>
    <li>Resolver problemas</li>
    <li>Comunicación</li>
    <li>Adaptabilidad</li>
    <li>Organización</li>
    <li>Scripting</li>
    <li>Linux</li>
    <li>Windows</li>
    <li>Docker</li>
    <li>Ciberseguridad</li>
    <li>Python</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>Java</li>
  </ul>
</BaseLayout>
