---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola a todos </div>
    <div class="text-5xl font-bold">Soy Luis (Aka. l0k1)</div>
    <div class="text-3xl py-3 font-bold">Administrador de Sistemas Profesional y Apasionado de la Ciberseguridad</div>
    <div class="py-2">
      <text class="text-lg">
        Soy un profesional de la administraci贸n de sistemas con la firme determinaci贸n 
        de forjarme una carrera centrada en la ciberseguridad. Actualmente estoy estudiando 
        para obtener el certificado EJPTv2, que ser谩 el primer gran paso en mi carrera 
        de ciberseguridad.<br>
        Adem谩s, tengo conocimientos avanzados de scripting en lenguajes como Python y Bash,
        y conocimientos en otros lenguajes de programaci贸n como JavaScript, Java y PHP.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn btn-outline" href="https://www.linkedin.com/in/luisgalindoruiz/" target="_blank">隆Conectemos!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mis 煤ltimos proyectos {"</>"}</div>
  </div>

  <HorizontalCard
    title="flow"
    img="/flow.webp"
    desc="Aplicaci贸n de chat en red local con backend Python y frontend ReactJS, basada en conexi贸n socket para enviar y recibir mensajes."
    url="https://github.com/l0k11/flow"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="tutorials.l0k1.es"
    img="/post_img.webp"
    desc="P谩gina donde publico tutoriales en ingl茅s sobre diversos temas que voy aprendiendo y encuentro 煤tiles."
    url="https://tutorials.l0k1.es"
    badge="En progreso"
  />
  <!--<div class="divider my-0"></div>
  <HorizontalCard
    title="tutorials.l0k1.com"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="Working on it"
  /> -->
</BaseLayout>
